.ms-bg-blue {
    background: #20a8d8;
}

.ms-bg-indigo {
    background: #6610f2;
}

.ms-bg-purple {
    background: #6f42c1;
}

.ms-bg-pink {
    background: #e83e8c;
}

.ms-bg-red {
    background: #f86c6b;
}

.ms-bg-orange {
    background: #f8cb00;
}

.ms-bg-yellow {
    background: #ffc107;
}

.ms-bg-green {
    background: #4dbd74;
}

.ms-bg-teal {
    background: #20c997;
}

.ms-bg-cyan {
    background: #17a2b8;
}

.ms-bg-white {
    background: #fff;
}

.ms-bg-gray {
    background: #73818f;
}

.ms-bg-gray-dark {
    background: #2f353a;
}

.ms-bg-primary {
    background: #20a8d8;
}

.ms-bg-secondary {
    background: #c8ced3;
}

.ms-bg-success {
    background: #4dbd74;
}

.ms-bg-info {
    background: #63c2de;
}

.ms-bg-warning {
    background: #ffc107;
}

.ms-bg-danger {
    background: #f86c6b;
}

.ms-bg-light {
    background: #f0f3f5;
}

.ms-bg-dark {
    background: #2f353a;
}

.ms-bg-magento {
    background: #eb5202;
}

.ms-bg-magesquare {
    background: #0099e5;
}

.ms-blue {
    color: #20a8d8;
}

.ms-indigo {
    color: #6610f2;
}

.ms-purple {
    color: #6f42c1;
}

.ms-pink {
    color: #e83e8c;
}

.ms-red {
    color: #f86c6b;
}

.ms-orange {
    color: #f8cb00;
}

.ms-yellow {
    color: #ffc107;
}

.ms-green {
    color: #4dbd74;
}

.ms-teal {
    color: #20c997;
}

.ms-cyan {
    color: #17a2b8;
}

.ms-white {
    color: #fff;
}

.ms-gray {
    color: #73818f;
}

.ms-gray-dark {
    color: #2f353a;
}

.ms-primary {
    color: #20a8d8;
}

.ms-secondary {
    color: #c8ced3;
}

.ms-success {
    color: #4dbd74;
}

.ms-info {
    color: #63c2de;
}

.ms-warning {
    color: #ffc107;
}

.ms-danger {
    color: #f86c6b;
}

.ms-light {
    color: #f0f3f5;
}

.ms-dark {
    color: #2f353a;
}

.ms-magesquare {
    color: #0099e5;
}

.ms-magento {
    color: #eb5202;
}